

/*VARIABLES
=======================*/
	$text-size-menu:20px;
	$text-fontstack:"Agency FB",arial;
	$text-color-default:#00B7FF;
	$login-font-stack: "Arial", serif sans;
	$color-light-green:#42FF42;

	$color-ocean:#29ABE2;
	$color-title:white;
	$color-dark-gras:#006837;
	$color-light-gray:#E0E0E0;
	$color-sand:#FFC36E;

	/*blue*/
	$color-blue-1:$color-ocean;

	/*green*/
	$color-green-4:$color-dark-gras;

	$image-island-green-width:215px;
	$image-island-green-height:341px;
	$image-island-wave-width: 336px;
	$image-island-wave-height: 392px;
	$image-island-sand-width: 242px;
	$image-island-sand-height: 346px;


	%link-default{
		color:$text-color-default;
		text-decoration: none;
		&:hover{
			text-decoration: underline red;
		}
	}

%centered-height{
	display: table-cell;
    vertical-align: middle; /*Vertically centered*/
    text-align: center; /* Horizontally centered */
}

%background{
	//display: block;
	padding: 20px;
	background-color:$color-ocean;
	height: 100%;
}




/*FUNCTIONS
===================================*/

//usage:
/*	.parent { position: relative; }
	.child { @include centerer; }*/
@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//usage:
/*.overlay { 	@include coverer;
					background: rgba(black, 0.5);
					z-index: 1000;}*/
@mixin coverer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


//@import 'sassimports/variables';




/* BASES
==================================*/
=======

	%block-centered-hor{
		display: block;
		margin-right:auto;
		margin-left:auto;
	}

	%button-default {
		padding: 4px;
		cursor:pointer;
		border:none;
		shadow:none;
		display:block;
	}

	%clear-padd-marg{
		margin:0;
		padding:0;
	}

	%select-none{
		-webkit-user-select: none;/* Chrome all / Safari all */
		-moz-user-select: none; /* mozilla browsers */
			-khtml-user-select: none; /* webkit browsers */
	}


	%centered-height{
		display: table-cell;
	  vertical-align: middle; /*Vertically centered*/
	  text-align: center; /* Horizontally centered */
	}

	%background{
		display: block;
		padding: 20px;
		background-color:$color-ocean;
		height:100%;
	}

	%background-2{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
	}




	/*FUNCTIONS
	===================================*/

	//usage:
	/*	.parent { position: relative; }
		.child { @include centerer; }*/
	@mixin centerer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	//usage:
	/*.overlay { 	@include coverer;
						background: rgba(black, 0.5);
						z-index: 1000;}*/
	@mixin coverer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}




/* BASES
==================================*/

	html{
		@extend %clear-padd-marg;
		height: 100%;
	}


	body{
		@extend %clear-padd-marg;
		min-height:100%;
		height:100%;
		word-wrap: break-word;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		color:$text-color-default;
	}

	div.main-backgroun{
		@extend %background;
	}


/*SETTINGS
===================================*/
	

/* LOGIN | CREATE USER
===============================*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	
	div.login{ 
		h1{
			font-size:80px;
		}
		//height: 100%;
	}
}

/* MENU
================================*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	
  	/*login/creat
  	=========================*/
	div.login{ 
		h1{
			font-size:80px;
		}
	}

	/*menu
	====================*/
	body > div.menu{
		h1{
			font-size: 60px;
		}
		width: 100%;
		padding:0;
		overflow: hidden;
	}
}

	.menu{
		@extend %block-centered-hor;
		@extend %background;
		text-align: center;
		display: block;
		height: 100%;
		h1{
			color:$color-title;
			font-family: $text-fontstack;
			text-transform: uppercase;
			letter-spacing: 25px;
			margin-top:0;
			font-size: 140px;
		}
	}

	div.options{
		//@include centerer; 
		@extend %block-centered-hor;
		//visibility: hidden;
		//@extend %centered-height;

		/*width: $image-island-green-width;
		height: $image-island-green-height;
		
		background-image: url('../images/menu-island-green.png');
		background-size: cover;*/
		
		div.text{
			@extend %block-centered-hor;
			padding-top:$image-island-green-height*(1/5);
			width: 60%;
			a{
				@extend %link-default;
				font: $text-size-menu $text-fontstack;
				color: $color-dark-gras;
			}
		}
	}

	.container{
		@extend %block-centered-hor;
		width: $image-island-wave-width;
		position:relative;
		display: block;
		height:auto;
		z-index: 2;
	}

	%islands{
		display: block;
		height: auto;
	}

	div.island {
		@extend %islands;
		@extend %block-centered-hor;
		width: $image-island-wave-width;
		height: $image-island-wave-height;
		background-image: url('../images/menu-island-green-waves-02.png');
	}

	div.sand{
		@extend %islands;
		@include centerer;
		width: $image-island-sand-width;
		height: $image-island-sand-height;
		background-image: url('../images/menu-island-sand.png');
		z-index: -1;
	}
