extends layout

block content
	//link(rel='stylesheet', href='/stylesheets/addFriends.css')
	div.addFriends
		div.container
			h1= 'Add Friends'
			form(method='post', action='/addFriends')
				if status
					strong #{status}
				
				div.form-group: label(for='username')  Enter friend's username
				input(type='text', id='friend', name='friend', value=friend autocomplete="off")
				
				div: button(type='submit') Add friend

			p: a(href='/menu') Back to menu?

