extends layout

block content
  h1= title
  form(method='post', action='/create')
    if post
      if errorMessage
        p= errorMessage

    div: label(for='username') Username
    input(type='text', id='username', name='username', value=username)

    div: label(for='password') Password
    input(type='password', id='password', name='password')

    div: button Create user

  div: a(href="./login" class="a-login") Back to log in