extends layout

block content
	div.container
		h1= 'High scores'
		if entries !== false
			hr
			table
				tr
					th Users
					th Scores
				each item in entries
					tr
						td #{item.username}
						td #{item.score}
			hr
		p: a(href='/menu') Back to menu