extends layout

block content
	h1= 'High scores'
	div.scores
	if entries !== false
		hr
		table
			tr
				td Users
				td Scores
			each item in entries
				tr
					td #{item.username}
					td #{item.score}
		hr
	p: a(href='/menu') Back to menu