doctype html(lang='is')
html.level-2-background-mine
	head
		meta(charset='utf-8')
		title IDLE ISLAND
		link(rel='stylesheet', href='/stylesheets/game.css')
		//script(type='text/javascript' src='/game/htmlButtons.js')
	body
		p(hidden,id = 'user') #{data.userName}
		p(hidden, id = 'userData') #{data.userData}
		p(hidden, id = 'isFriend') #{data.isFriend}

		//h1 IDLE ISLAND
		canvas#myCanvas
		div.buttons
			div.circle-buttons
				div.upg
				form( method='post', action='/gameSettings', class='form-settings' hidden)
					input(type='text', id='submitString2', name='submitString')
					input(type='text', id='score2', name='score')
					input(type='hidden', id='checkFriend2', name='checkFriend')
				div.sett
			div.arrows-buttons
			//div.quit
		form(method='post', action='/exit', id = 'exit', hidden)
			input(type='text', id='submitString', name='submitString')
			input(type='text', id='score', name='score')
			input(type='hidden', id='checkFriend', name='checkFriend')
			div: button.game-exit

		form(method='post', action='/refresh', id = 'refresh', hidden)
			input(type='text', id='submitString1', name='submitString1')
			input(type='text', id='score1', name='score1')
			input(type='hidden', id='checkFriend1', name='checkFriend1')
			
		script(src='/game/jquery.js')
		script(src='/game/imagesPreload.js')
		script(src='/game/soundsPreload.js')
		script(src='/game/Coconut.js')
		script(src='/game/Sprite.js')
		script(src='/game/htmlButtons.js')
		script(src='/game/Button.js')
		script(src='/game/Display.js')
		script(src='/game/UserData.js')
		script(src='/game/Calculator.js')
		script(src='/game/gameEngine.js')
		script(src='/game/Initialize.js')

	//button.game-lvl-2-coconutHeap
	div.backgrounds
		div.sky
		div.sea
		div.mine-wall
		div.mine-floor
