<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title>IDLE ISLAND</title>
  </head>
  <body>
    <h1>IDLE ISLAND</h1>
    <canvas id="myCanvas" width="1000" height="600" style="border: 1px solid black;">
                Sorry, but your browser does not support the HTML5 canvas tag.
    </canvas>
  </body>
  <script src="/game/jquery.js"></script>
  <script src="/game/imagesPreload.js"></script>
  <script src="/game/soundsPreload.js"></script>
  <script src="/game/Button.js"></script>
  <script src="/game/Display.js"></script>
  <script src="/game/UserData.js"></script>
  <script src="/game/Calculator.js"></script>
  <script src="/game/DBconnector.js"></script>
  <script src="/game/gameEngine.js"></script>
  <script src="/game/Initialize.js"></script>
</html>