doctype html(lang='is')
head
	meta(charset='utf-8')
	title IDLE ISLAND
	body
		h1 IDLE ISLAND
		canvas#myCanvas(width='1000', height='600', style='border: 1px solid black;')
	script(src='/game/jquery.js')
	script(src='/game/imagesPreload.js')
	script(src='/game/soundsPreload.js')
	script(src='/game/Button.js')
	script(src='/game/Display.js')
	script(src='/game/UserData.js')
	script(src='/game/Calculator.js')
	script(src='/game/DBconnector.js')
	script(src='/game/gameEngine.js')
	script(src='/game/Initialize.js')
