doctype html
html
  head
    title Idle Island
    <meta name="viewport" content="width=device-width,initial-scale=1">
    block css 
        link(rel='stylesheet', href='/stylesheets/base.css')
        link(rel='stylesheet', href='/stylesheets/viewFriends.css')
    block jvscript
        script(src='/game/jquery.js')
        script(src='/game/soundsPreload.js')
        script(src='/game/jquery.js')
  body
    block content