extends layout

block content
	h1 Log in
	form(method='post', action='/login')
		if error
			p= errorMessage

		div.form-group: label(for='username') Username
		input(type='text', id='username', name='username', value=username)

		div.form-group: label(for='password') Password
		input(type='password', id='password', name='password')

		div: button Login

		a(href="/create") Create account