extends layout

block content
	div.login
		div.page-title
			h1 Log in

		div.form
			form(method='post', action='/login')
				if error
					p= errorMessage

				div.input
					//div.form-group: label(for='username') Username
					input(type='text', id='username', name='username', value=username placeholder='username')
				div.input
					//div.form-group: label(for='password') Password
					input(type='password', id='password', name='password' placeholder='password')

				div.button: button Login

				a(href="/create") Create account