extends layout

block content
	p(hidden, id = 'gamestate') #{gamestate}
	script(src='/game/playTheme.js')
	div.menu
		h1= title
		h3= 'Vel gert Hjörtur! Fyrstur að kaupa öll upgrade!'
		div.container
			div.island
				div.options
					div.text
						p: a(href='/viewFriends') View Friends
						p: a(href='/addFriends') Add Friends
						p: a(href='/settings') Settings
						p: a(href='/highScores') High Scores
						p: a(href='/idleisland') PLAY
						br
						p: a(href='/logout') Log Out
			div.sand