doctype html(lang='is')
html
	head
		meta(charset='utf-8')
		title IDLE FRIEND ISLAND
		link(rel='stylesheet', href='/stylesheets/game.css')
		script(src='/game/jquery.js')
		script(src='/game/imagesPreload.js')
		script(src='/game/soundsPreload.js')
		script(src='/game/Coconut.js')
		script(src='/game/Button.js')
		script(src='/game/friendDisplay.js')
		script(src='/game/UserData.js')
		script(src='/game/Calculator.js')
		script(src='/game/friendGameEngine.js')
		script(src='/game/viewFriendIsland.js')
	body(style='padding:0; margin:0')
		p(hidden,id = 'user') #{data.username}
		p(hidden, id = 'userData') #{data.userData}
		p: a(href='/menu') GO BACK TO MENU
		canvas#myCanvas(width='1000', height='600')
		form(method='post', action='/exit', id = 'exit', hidden)
			input(type='text', id='submitString', name='submitString')
			div: button