/*VARIABLES
=======================*/
/*blue*/
/*green*/
div.middle {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.login {
  display: block;
  padding: 20px;
  background-color: #29ABE2;
  height: 100%; }

/*FUNCTIONS
	===================================*/
/*	.parent { position: relative; }
		.child { @include centerer; }*/
/*.overlay { 	@include coverer;
						background: rgba(black, 0.5);
						z-index: 1000;}*/
.login {
  padding: 20px;
  font-family: "Agency FB", arial;
  color: white;
  display: block;
  height: 100%; }
  .login h1 {
    margin-top: 0;
    text-align: center;
    font-size: 120px; }

div.middle {
  max-width: 250px;
  color: white;
  font-family: "Arial", serif sans;
  overflow: hidden; }
  div.middle a {
    display: block;
    margin-top: 30px;
    color: #E0E0E0;
    text-decoration: none; }
  div.middle button {
    background-color: transparent;
    width: 100%;
    right: 20px;
    margin-top: 50px;
    font-size: 20px;
    color: #E0E0E0;
    cursor: pointer;
    border: 0;
    border: 2px solid #E0E0E0; }
  div.middle ::-webkit-input-placeholder {
    color: #E0E0E0;
    font-style: "Agency FB", arial; }
  div.middle input {
    display: block;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    color: white;
    line-height: 50px;
    border: none;
    border-bottom: 2px solid #E0E0E0; }
    div.middle input:focus {
      outline: 0;
      box-shadow: none;
      border-bottom: 2px solid green; }
