body {
  background-color: #008cfa; }

div.login {
  color: black;
  font-family: "Arial", serif sans; }
  div.login a {
    margin-top: 30px !important;
    color: gray;
    text-decoration: none; }
  div.login button {
    margin-top: 30px;
    font-size: 20px;
    right: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-left: 3px solid red; }
  div.login div.input {
    margin-top: 50px; }
    div.login div.input input {
      color: black;
      background-color: transparent;
      box-shadow: 0 3px 5px -3px white;
      font-size: 20px;
      border: none; }
      div.login div.input input:focus {
        outline: 0;
        box-shadow: none;
        border-bottom: 1px solid blue; }
